<div class="container">
	<h1 class="jumbotron-heading">Album Example</h1>

	<div class="container">
		<div class="row">
			<div class="col">
				<p>Lorem ipsum dolor sit amet, aliquid delicata ex sit, eu libris albucius eum. Nec eius scaevola cu. Ea has commodo aliquip. Nisl saepe ius an, vis porro lucilius postulant ad, ut quas invidunt quo. Aeterno graecis an usu. Ei mei case tamquam pertinax, eum at vero mollis, admodum similique honestatis ea has.</p>
			</div>
			<div class="col">
				<p>Lorem ipsum dolor sit amet, aliquid delicata ex sit, eu libris albucius eum. Nec eius scaevola cu. Ea has commodo aliquip. Nisl saepe ius an, vis porro lucilius postulant ad, ut quas invidunt quo. Aeterno graecis an usu. Ei mei case tamquam pertinax, eum at vero mollis, admodum similique honestatis ea has.</p>
			</div>
		</div>		
	</div>


</div>